/* body {
    background-image: url(/images/staryybackground.gif);
    background-size: cover;
    width: 100%;
    height: 100%;

}
#starship {
    position: absolute; 
    margin-top: 80px; 
} */
canvas {
    border: 1px solid black;
    margin-left: 50px;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 128, 0.705);
    /* overflow: hidden; */
}

img {
    display: none;
}